*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: $global-font-family;
	font-size: $global-font-size;
	font-weight: $global-font-weight;
	line-height: $global-line-height;
	color: $global-color;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

a, .link {
	text-decoration: none;
	color: #515f67;
}

a:hover, .link:hover {
	text-decoration: none;
} 

img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

p, ul, ol, figure {
	margin: 0;
}

* + p, * + ul, * + ol, * + figure {
	margin-top: 0;	
}

ul > li > ol,
ul > li > ul,
ol > li > ol,
ol > li > ul {
	margin: 0;
	padding-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6  {
	margin-top: 0;	
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.title {
  &-white::after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
	}
	&-black::after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background-color: #515f67;
  }
}


.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.3);
	position:fixed;
	z-index:3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
  height: auto;
}

.popup_img {
	position: fixed;
	z-index:4;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-height: 500px;
	max-width: 500px;
}

.popup_img {
  pointer-events: none;
}