.navbar-expand-md .nav-header .nav-link {
  @include nav($color: #ffffff);
  padding: 6px 16px;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #4bcaff;
    color: #4bcaff;
  }
}

.nav-link {
  padding: 0 10px;
}

.nav-item:last-child::after {
  display: none;
}

.nav-portfolio .nav-link {
  @include nav ($color: #515f67);
  border: 2px solid transparent;
  padding: 6px 16px;
  &:hover {
    border: 2px solid #4bcaff;
    color: #4bcaff;
  }
}

.nav-tabs .nav-link.active {
  border-color: #4bcaff;
}


.nav-tabs .nav-link {
  border: 2px solid transparent;
  border-radius: 0;
}

.nav-social {
  padding-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

.navbar-button .navbar-toggler {
  border-color: #4bcaff;
}

.nav-portfolio .nav-item .nav-link {
  color: #515f67;
}

@media (min-width: 576px) {
  .section-footer .nav-item::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 12px;
    background-color: #515f67;
    position: absolute;
    right: 0;
    top: 5px;
  }
}