.navbar-expand-md .nav .nav-link {
  padding: 10px 20px;
  opacity: 0.9;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  &:hover {
    border: 1px solid #4bcaff;
    color: #4bcaff;
  }
}

.nav-link {
  padding: 0 10px;
}

.nav-item:last-child::after {
  display: none;
}

.nav-portfolio .nav-link {
  color: #515f67;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;;
}

.nav-social {
  padding-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

.navbar-button .navbar-toggler {
  border-color: #4bcaff;
}

.nav-portfolio .nav-item .nav-link {
  color: #515f67;
}

@media(min-width: 576px) {
  .section-footer .nav-item::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 12px;
    background-color: #515f67;
    position: absolute;
    right: 0;
    top: 5px;
  }
}