.section {
  padding: 20px 10px;
  z-index: 0;
  &-background {
    @include position;
    z-index: -3;
  }
  &-top {
    margin-bottom: 20px;
  }    
  &-overlay {
    @include position;
    opacity: 0.9;
    z-index: -2;
  }
  &-overlay > img,
  &-background > img {
    object-fit: cover;
    height: 100%;
  }
  &-hero-title {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    padding: 150px 0;
    text-align: center;
    & .back {
      padding: 0 18px;
      background-color: #4c565e;
    }
  }
  &-hero {
    padding: 0;
  }
  &-service,
  &-twitter {
    background-color: #4bcaff;
  }
  &-portfolio .title {
    color: #515f67;
    margin-bottom: 20px;
  }
  &-just {
    background-color: #515f67;
  }
  &-twitter-desc {
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
  }
  &-test .quotes {
    font-family: 'Bitter', serif;
    color: #515f67;
    font-size: 72px;
    font-weight: 700;
    line-height: 50px;
    }
  &-test .title {
    color: #515f67;
  }
  &-test-desc {
    color: #515f67;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
  }
  &-john,
  &-contact,
  &-footer {
    background-color: #353f47;
  }
  &-desc {
    padding-bottom: 25px;
  }
  &-john .card-text {
    padding-bottom: 25px;
  }
  &-contact-content {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 50px 10px;
    &-portfolio .title {
      margin-bottom: 0;
    }
    &-hero {
      padding: 0;
    }
  }
}

@media (min-width: 960px) {
  .section {
    padding: 80px 10px;
    &-hero {
      padding: 0;
    }
    &-top {
      margin-bottom: 40px;
    }   
  }
}


@media (max-width: 992px) {
  .section-just .col-12 {
    padding-bottom: 20px;
  }
}

@media (max-width: 720px){
  .section-contact-content {
    order: 1;
  }
}
@media (min-width: 720px) {
  .section-hero-title {
    font-size: 42px;
    font-weight: 300;
    line-height: 75px;
    padding: 240px 0;
  }
}