$global-font-size: 14px;
$global-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$global-font-weight: 400;
$global-line-height: 24px;
$global-color: #ffffff;

@mixin position {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin nav ($opacity: 0.9, $color: #515f67, $font-family:  $global-font-family,
           $font-size: $global-font-size, $font-weight: 700, $line-height: 24px,  $text-transform: uppercase) {
  opacity: $opacity;
  color: $color;
  font-family:  $global-font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: $text-transform;
}
